/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/ */


#header, #main,
#boxmodel-header, #boxmodel-main, #boxmodel-info {
  --expand: 1;
  --condense: 0px;
}
@media (max-height: 252px) {
  #boxmodel-header, #boxmodel-main, #boxmodel-info {
    --expand: 0;
  }
}
@media (max-height: 228px) {
  #header, #main {
    --expand: 0;
  }
}

#computedview-container #boxmodel-header,
#computedview-container #boxmodel-main,
#computedview-container #boxmodel-info,
.boxmodel-header,
.boxmodel-main,
.boxmodel-info {
  --expand: 0;
  --condense: 1px;
}
#computedview-container #boxmodel-main > p > span,
#computedview-container #boxmodel-main > p > input,
#computedview-container .boxmodel-legend,
#computedview-container #boxmodel-info > span,
#computedview-container #boxmodel-info > section > span,
.boxmodel-main > p > span,
.boxmodel-main > p > input,
.boxmodel-main             .boxmodel-legend, /***/
/* >>>>> *./      .boxmodel-main > .boxmodel-box, */
.boxmodel-info > span,
.boxmodel-info > section > span  {
  /* font-size: 92%; *****************************************************/
  XXX-font-size: calc(1rem - 1px);
}
#computedview-container #boxmodel-container,
div.boxmodel-container { /* The tag 'div' is so the value for 'max-width' here preceeds the value in a rule below */
  XXX-max-width: 300px;
}

.theme-sidebar {
  box-sizing: border-box;
}

#sidebar-panel-layoutview {
  display: block;
  overflow: auto;
}

#computed-container-focusable > #boxmodel-wrapper, /* Firefox 57 */
#computedview-container-focusable > #boxmodel-wrapper { /* Firefox >= 50 */
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--theme-splitter-color);
}

body.theme-sidebar.devtools-monospace, /* Added specificity so it supersedes rules elsewhere */
#boxmodel-container,
.boxmodel-container {
  /* The view will grow bigger as the window gets resized, until 375px. */
  XXX-max-width: 375px; /* This is 400px in the default/classic theme --johnGraciliano */
  margin: 0px auto;
  padding: 0;
  /* "Contain" the absolutely positioned #boxmodel-main element */
  position: relative;
}

/* Header */

p#header{ /* Firefox <= 45 */
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: calc(10px + 6px * var(--expand));
  padding-right: 13px;
  padding-bottom: calc(8px + 8px * var(--expand));
  padding-left: 13px;
}

#boxmodel-header,
.boxmodel-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: calc(7px + 6px * var(--expand));
  padding-bottom: calc(5px + 8px * var(--expand));
  padding-top: 2px;
  padding-bottom: 3px;
  padding-inline-start: 17px;
  
  font-weight: bold;
  font-size: 1.1rem;
}

#boxmodel-info,
.boxmodel-info {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 13px 6px;
}

p#header:-moz-dir(rtl) { /* Undo a rule in 'chrome://browser/content/devtools/layoutview/view.css'. The tag 'p' is to give this rule priority. --johnGraciliano */
  -moz-box-direction: normal;
}
span#element-size:-moz-dir(rtl) { /* Undo a rule in 'chrome://browser/content/devtools/layoutview/view.css'. The tag 'span' is to give this rule priority. --johnGraciliano */
  -moz-box-pack: start;
}

/* Raise the diagram to prevent hiding the bottom in full size  --johnGraciliano */
/* .theme-firebug #sidebar-panel-layoutview > * > * > #boxmodel-header, */
.theme-firebug #boxmodel-header,
.theme-firebug .boxmodel-header {
  padding-top: calc(3px + 6px * var(--expand));
  padding-bottom: calc(3px + 6px * var(--expand));
  padding-top: 2px;
  padding-bottom: 3px;
}
#boxmodel-container {
  margin-top: 5px;
}


.boxmodel-position-group {
  display: flex;
  align-items: center;
}

@supports (border-color: -moz-use-text-color) { /* Before Firefox 52. (Perhaps this should be earlier, e.g., 48) */ {}
  #layout-geometry-editor,
  .layout-geometry-editor {
    visibility: hidden;
  }
}

#layout-geometry-editor::before,
.layout-geometry-editor::before {
  background: url(images/geometry-editor.svg) no-repeat center center / 16px 16px;
}

/* Main: contains the box-model regions */

#main,
#boxmodel-main,
.boxmodel-main {
  position: absolute;
  position: relative;
  box-sizing: border-box;
  /* The regions are semi-transparent, so the white background is partly
     visible */
  /* background-color: rgba(248,248,248,.75); / * This was white *./  *****************************************************************/
  color: var(--theme-selection-color); /* This color is used for the border and padding values */
  /* Make sure there is some space between the window's edges and the regions */
  margin: 0 auto 4px; /* Changed from: 0 14px 4px 14px */
  width: calc(100% - 2 * 14px);
  width: 100%;
  max-width: 320px;
  max-width: 360px;
  min-width: -moz-max-content;
}
#computedview-container #boxmodel-main,
.boxmodel-main { /* Firefox >= 50*/
  XXX-position: relative;
  XXX-max-width: 320px;
}

.margin,
.size,
:root:not(.theme-firebug) .boxmodel-margin,
:root:not(.theme-firebug) .boxmodel-size {
  color: var(--theme-highlight-blue);
  color: #0088cc; /* The color for the margin and size values */
}

/* Regions are 3 nested elements with wide borders and outlines */

div#content,
#boxmodel-content,
.boxmodel-paddings > .boxmodel-content,
.boxmodel-contents {
  box-sizing: border-box;
  height: calc(21px + 4px * var(--expand) - var(--condense));
  /* font-size: 92%; /.* Match the font size for the values shown */
  /* font-size: 92%; *****************************************************/
  XXX-font-size: calc(1rem - 1px);
  min-width: 17ch; /* Leave room for 15 visible characters and a space o each side, e.g., " 123.567×1234.67 " */
}

div#margins,
div#borders,
div#padding,
#boxmodel-margins,
#boxmodel-borders,
#boxmodel-padding,
.boxmodel-margins,
.boxmodel-borders,
.boxmodel-paddings {
  border-width: calc(21px + 4px * var(--expand) - var(--condense));
  border-style: solid;
  outline: dotted 1px hsl(210,100%,85%);
}

div#borders, /* Added specificity so it supersedes rules elsewhere */
div#boxmodel-borders,
div.boxmodel-borders {
  border-width: calc(22px + 3px * var(--expand) - var(--condense));
  padding:0;
  outline: dotted 1px hsl(210,100%,45%);
}

#margins,
#boxmodel-margins,
.boxmodel-margins {
  outline: dotted 1px hsl(210,100%,75%);
  box-sizing: border-box;
  min-width: -moz-fit-content;
  X--max-width: 320px;
}

/* Respond to window size change by changing the size of the regions */


/* Regions colors */

#margins,
#boxmodel-margins,
.boxmodel-margins {
  border-color: rgba(237, 255, 100, .8); /* #edff64 * 80% */
  /* The following is mostly intended for lighter background with .theme-dark. */
  /* It is especially important due to the semitransparent colors used for the box regions as "border-color". */
  background-color: rgba(248,248,248,.75); /* This is affects all box regions. */
  background-origin: padding-box;
}

#borders,
#boxmodel-borders,
.boxmodel-borders {
  border-color: rgba(68, 68,68, .8); /* #444444 * 80% */
}

#padding,
#boxmodel-padding,
.boxmodel-paddings {
  border-color: rgba(106, 90, 205, .8); /* #6a5acd * 80% */
}

#content,
#boxmodel-content,
.boxmodel-paddings > .boxmodel-content,
.boxmodel-contents {
  background-color: rgba(135, 206, 235, .8); /* #87ceeb * 80% */
}

/*
.tab-panel-box[id] #boxmodel-main {
  color: #1A1C22;
}

.tab-panel-box[id] #boxmodel-margins {
  border-color: #9ebce1cc;
  outline: 1px solid #2f5b8e;
  opacity: 1;
}

.tab-panel-box[id] #boxmodel-borders {
  border-color: #b3c8e2cc;
  outline: 1px solid #3b72b3;
}

.tab-panel-box[id] #boxmodel-padding {
  border-color: #7fe3cccc;
  outline: 1px solid #00c79a;
}

.tab-panel-box[id] #boxmodel-content {
  background-color: #f0f7ffcc;
  border: 1px solid #eaf4ff;
}

.tab-panel-box[id] #boxmodel-main {
  border-width: 0px;
  background-color: #f8f8f899;
}
*/

/*****
.tab-panel-box[id] .boxmodel-margin,
.tab-panel-box[id] .boxmodel-border,
.tab-panel-box[id] .boxmodel-padding,
.tab-panel-box[id] .boxmodel-size {
  color: #1A1C22;
}

.tab-panel-box[id] #boxmodel-main > .boxmodel-legend {
  color: #7b852c;
}
.tab-panel-box[id] #boxmodel-margins > .boxmodel-legend {
  color: #222222;
}
.tab-panel-box[id] #boxmodel-borders > .boxmodel-legend {
  color: #443c74;
}
*****/

.theme-firebug #boxmodel-main,
.theme-firebug #boxmodel-content,
/*  .theme-firebug .boxmodel-main,  *************************************************************/
.theme-firebug .boxmodel-paddings > .boxmodel-content,
.theme-firebug .boxmodel-contents {
  border: 1px solid transparent;
}

.theme-firebug #boxmodel-main,
.theme-firebug #boxmodel-header,
.theme-firebug .boxmodel-main,
.theme-firebug .boxmodel-header {
  font-family: var(--proportional-font-family);
}

#boxmodel-main,
#boxmodel-info,
.boxmodel-main,
.boxmodel-info {
  font-size: calc(1rem - 1px);
}

.theme-firebug #boxmodel-main,
.theme-firebug #boxmodel-info,
.theme-firebug .boxmodel-main,
.theme-firebug .boxmodel-info {
  color: var(--theme-body-color);
  /* font-size: var(--theme-toolbar-font-size); *********************************************************/
  font-size: 1rem;
}

/*******************************************************  REMOVE ?????????? ****************************************
.theme-firebug #boxmodel-header,
.theme-firebug .boxmodel-header {
  font-size: var(--theme-toolbar-font-size);
}
 *******************************************************************************************************************/

/* Editable region sizes are contained in absolutely positioned <p> */

#main > p,
#boxmodel-main > p,
.boxmodel-main > div.boxmodel-size, /* .boxmodel-size may be a div instead of a p when editable in Firefox 55 */
.boxmodel-main > p {
  position: absolute;
  pointer-events: none;
  margin: 0;
  text-align: center;
}

#main > p > span,
#main > p > input,
#boxmodel-main > p > span,
#boxmodel-main > p > input,
.boxmodel-main > p > span,
.boxmodel-main > p > input {
  vertical-align: middle;
  pointer-events: auto;
}

/* Coordinates for the region sizes */

.top,
.bottom,
.boxmodel-top,
.boxmodel-bottom {
  width: calc(100% - 2px);
  text-align: center;
}

p.padding.top,
.boxmodel-padding.boxmodel-top {
  top: calc(46px + 9px * var(--expand) - 2 * var(--condense));
}

p.padding.bottom,
.boxmodel-padding.boxmodel-bottom {
  bottom: calc(46px + 11px * var(--expand) - 2 * var(--condense));
}

p.border.top,
.boxmodel-border.boxmodel-top {
  top: calc(24px + 6px * var(--expand) - var(--condense));
}

p.border.bottom,
.boxmodel-border.boxmodel-bottom {
  bottom: calc(24px + 7px * var(--expand) - var(--condense));
}

p.margin.top,
.boxmodel-margin.boxmodel-top {
  top: calc(2px + 3px * var(--expand));
}

p.margin.bottom,
.boxmodel-margin.boxmodel-bottom {
  bottom: calc(2px + 4px * var(--expand));
}

p.size,
p.margin.left,
p.margin.right,
p.border.left,
p.border.right,
p.padding.left,
p.padding.right,
.boxmodel-size,
.boxmodel-position.boxmodel-left, /* Firefox 55 */
.boxmodel-position.boxmodel-right, /* Firefox 55 */
.boxmodel-margin.boxmodel-left,
.boxmodel-margin.boxmodel-right,
.boxmodel-border.boxmodel-left,
.boxmodel-border.boxmodel-right,
.boxmodel-padding.boxmodel-left,
.boxmodel-padding.boxmodel-right {
  top:  calc(65px + 14px * var(--expand) - 2 * var(--condense));
  top: calc(50% - 1em + 2px);
  line-height: initial;
}

.size,
.boxmodel-size {
  width: calc(100% - 2px);
}


.boxmodel-size {
  display: flex;
  justify-content: center;
}
.boxmodel-width,
.boxmodel-height {
  margin: 0px; line-height: initial; /* border-width: 0px; */ background-color: transparent; height: initial;
}
.theme-firebug .boxmodel-content.boxmodel-width,
.theme-firebug .boxmodel-content.boxmodel-height {
  border-width: 0;
}
.boxmodel-size > span {
  /*
  margin: auto 0px;
  */
  line-height: initial;
  border-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  margin: 1px 0 -1px;
}
:-moz-any(.boxmodel-width,.boxmodel-height) > span {
  /* font-size: 92%; *****************************************************/
  XXX-font-size: calc(1rem - 1px);
  vertical-align: middle;
  pointer-events: auto;
}



p.margin.right,
p.margin.left,
p.border.left,
p.border.right,
p.padding.right,
p.padding.left,
.boxmodel-position.boxmodel-top, /* Firefox 55 */
.boxmodel-position.boxmodel-bottom, /* Firefox 55 */
.boxmodel-position.boxmodel-left, /* Firefox 55 */
.boxmodel-position.boxmodel-right, /* Firefox 55 */
.boxmodel-margin.boxmodel-right,
.boxmodel-margin.boxmodel-left,
.boxmodel-border.boxmodel-left,
.boxmodel-border.boxmodel-right,
.boxmodel-padding.boxmodel-right,
.boxmodel-padding.boxmodel-left {
  width: calc(21px + 4px * var(--expand));
}

p.padding.left,
.boxmodel-padding.boxmodel-left {
  left: calc(43px + 9px * var(--expand) - 2 * var(--condense));
}

p.padding.right,
.boxmodel-padding.boxmodel-right {
  right: calc(43px + 8px * var(--expand) - 2 * var(--condense));
}

p.border.left,
.boxmodel-border.boxmodel-left {
  left: calc(22px + 4px * var(--expand) - var(--condense));
}

p.border.right,
.boxmodel-border.boxmodel-right {
  right: calc(22px + 4px * var(--expand) - var(--condense));
}

.margin.right,
.boxmodel-margin.boxmodel-right {
  right: 0;
}

.margin.left,
.boxmodel-margin.boxmodel-left {
  left: 0;
}

.rotate.left:not(.editing),
.boxmodel-rotate.boxmodel-left:not(.boxmodel-editing) {
  transform: rotate(-90deg);
}
.rotate.left:not(.editing) > .editable,
.boxmodel-rotate.boxmodel-left:not(.boxmodel-editing) > .boxmodel-editable {
  margin-left: calc(-2px * (1 - var(--expand)));
}
.padding.rotate:not(.editing) > .editable,
.boxmodel-padding.boxmodel-rotate:not(.boxmodel-editing) > .boxmodel-editable {
  text-shadow: 0 0 2px #6a5acd, 0 0 2px #6a5acd, 0 0 2px #6a5acd;
}
/*
.tab-panel-box[id] .boxmodel-padding.boxmodel-rotate:not(.boxmodel-editing) > .boxmodel-editable {
  text-shadow: 0 0 2px #7fe3cc, 0 0 2px #7fe3cc, 0 0 2px #7fe3cc;
}
*/

.rotate.right:not(.editing),
.boxmodel-rotate.boxmodel-right:not(.boxmodel-editing) {
  transform: rotate(90deg);
}

.left.editing,
.right.editing,
.boxmodel-left.boxmodel-editing,
.boxmodel-right.boxmodel-editing {
  position: relative;
  z-index: 5;
}
._content .boxmodel-left.boxmodel-editing,
._content .boxmodel-right.boxmodel-editing {
  position: absolute; /* Undo the setting in late Firefox 54.0a1 */
}

/* Coordinates should be different when the window is small, because we make
   the regions smaller then */



:-moz-any(#boxmodel-main,.boxmodel-main) > .boxmodel-legend { /* margin legend */
  margin-inline-start: calc(5ch + 6px);
}
#boxmodel-margins,
.boxmodel-main > .boxmodel-margins {
  margin: 0 5ch;
}
:-moz-any(#boxmodel-margins,.boxmodel-margins) ~ .boxmodel-margin.boxmodel-left {left: 0px; left: 15px; left: calc(5ch);}
:-moz-any(#boxmodel-margins,.boxmodel-margins) ~ .boxmodel-border.boxmodel-left {left: 21px; left: 36px; left: calc(21px + 5ch);}
:-moz-any(#boxmodel-margins,.boxmodel-margins) ~ .boxmodel-padding.boxmodel-left {left: 41px; left: 56px; left: calc(41px + 5ch);}
:-moz-any(#boxmodel-margins,.boxmodel-margins) ~ .boxmodel-margin.boxmodel-right {right: 0px; right: 15px; right: calc(5ch);}
:-moz-any(#boxmodel-margins,.boxmodel-margins) ~ .boxmodel-border.boxmodel-right {right: 21px; right: 36px; right: calc(21px + 5ch);}
:-moz-any(#boxmodel-margins,.boxmodel-margins) ~ .boxmodel-padding.boxmodel-right {right: 41px; right: 56px; right: calc(41px + 5ch);}

/* Box Model Positioning: contains top, right, bottom, left */

.boxmodel-box {
  margin: 0 6ch;
}
.boxmodel-box:nth-last-child(+18) {
  margin: 12px calc(8ch + 2px);
}

.boxmodel-box ~ .boxmodel-margin.boxmodel-left {left: 0px; left: 15px; left: calc(6ch);}
.boxmodel-box ~ .boxmodel-border.boxmodel-left {left: 21px; left: 36px; left: calc(21px + 6ch);}
.boxmodel-box ~ .boxmodel-padding.boxmodel-left {left: 41px; left: 56px; left: calc(41px + 6ch);}
.boxmodel-box ~ .boxmodel-margin.boxmodel-right {right: 0px; right: 15px; right: calc(6ch);}
.boxmodel-box ~ .boxmodel-border.boxmodel-right {right: 21px; right: 36px; right: calc(21px + 6ch);}
.boxmodel-box ~ .boxmodel-padding.boxmodel-right {right: 41px; right: 56px; right: calc(41px + 6ch);}




/*******************************  TEST *****************************************************************************./

.boxmodel-box {
  margin: 0 5ch;
}

.boxmodel-box ~ .boxmodel-margin.boxmodel-left {left: calc(5ch);}
.boxmodel-box ~ .boxmodel-border.boxmodel-left {left: calc(21px + 5ch);}
.boxmodel-box ~ .boxmodel-padding.boxmodel-left {left: calc(41px + 5ch);}
.boxmodel-box ~ .boxmodel-margin.boxmodel-right {right: calc(5ch);}
.boxmodel-box ~ .boxmodel-border.boxmodel-right {right: calc(21px + 5ch);}
.boxmodel-box ~ .boxmodel-padding.boxmodel-right {right: calc(41px + 5ch);}

/.*******************************  END TEST ************************************************************************/









.boxmodel-position ~ .boxmodel-margin.boxmodel-left {left: 0px; left: 15px; left: calc(8ch + 2px);}
.boxmodel-position ~ .boxmodel-border.boxmodel-left {left: 21px; left: 36px; left: calc(21px + 8ch + 2px);}
.boxmodel-position ~ .boxmodel-padding.boxmodel-left {left: 41px; left: 56px; left: calc(41px + 8ch + 2px);}
.boxmodel-position ~ .boxmodel-margin.boxmodel-right {right: 0px; right: 15px; right: calc(8ch + 2px);}
.boxmodel-position ~ .boxmodel-border.boxmodel-right {right: 21px; right: 36px; right: calc(21px + 8ch + 2px);}
.boxmodel-position ~ .boxmodel-padding.boxmodel-right {right: 41px; right: 56px; right: calc(41px + 8ch + 2px);}

.boxmodel-position {
  color: var(--theme-highlight-purple);
}

.boxmodel-position.boxmodel-top,
.boxmodel-position.boxmodel-bottom {
  /* border-left: 1px solid var(--theme-highlight-purple); */
  /* left: calc(50% - 2px); */
  /* padding-left: 1px; */
  width: calc(100% - 2px);
}

/*
.boxmodel-position.boxmodel-right,
.boxmodel-position.boxmodel-left {
  border-top: 1px solid var(--theme-highlight-purple);
  line-height: 15px;
  top: calc(50% - 1px);
  width: 30px;
}
 */

.boxmodel-position.boxmodel-top {
  top: -18px;
}

.boxmodel-position.boxmodel-right {
  right: -15px; /* -14px; /* changed from -15px; to avoid overflow */
  width: 30px;
  right: 0;
  width: calc(8ch + 2px);
}

.boxmodel-position.boxmodel-bottom {
  bottom: -18px;
}

.boxmodel-position.boxmodel-left {
  left: -15px; /* -14px; /* changed from -15px; to avoid overflow */
  width: 30px;
  left: 0;
  width: calc(8ch + 2px);
}
.boxmodel-position.boxmodel-left:not(.boxmodel-editing):not(.boxmodel-rotate) {
  XXX-direction: rtl;
}

/* Legend, displayed inside regions */

span.legend,
.boxmodel-legend {
  position: absolute;
  margin: calc(2px + 3px * var(--expand)) 6px;
  z-index: auto; /* This was 1 --johnGraciliano */
}

span.legend[data-box="margin"],
.boxmodel-legend[data-box="margin"] {
  /* color: #7b852c; ***************************/
  color: #5c6321;
}
span.legend[data-box="border"],
.boxmodel-legend[data-box="border"] {
  color: #222222;
}
span.legend[data-box="padding"],
.boxmodel-legend[data-box="padding"] {
  color: #443c74;
}

/* Editable fields */

.editable,
.boxmodel-editable {
  border: 1px dashed transparent;
  -moz-user-select: text;
  direction: ltr; /* So the period character will not be moved to the left when entering a decimal fraction --johnGraciliano */
}

.editable:hover,
.boxmodel-editable:hover {
  border-bottom-color: hsl(0, 0%, 50%);
}

.styleinspector-propertyeditor {
  border: 1px solid #ccc;
  padding: 0;
}

.boxmodel-content.boxmodel-editing >
.styleinspector-propertyeditor {
  vertical-align: middle;
  pointer-events: auto;
  margin-right: -1px;
}


/* Make sure the content size doesn't appear as editable like the other sizes */

.size > span,
.boxmodel-size > span {
  cursor: default;
}

/* Hide all values when the view is inactive */

body.inactive > #header > #element-position,
body.inactive > #header > #element-size,
body.inactive > #main > p,
#boxmodel-container.inactive > #boxmodel-header > #boxmodel-element-position,
#boxmodel-container.inactive > #boxmodel-header > #boxmodel-element-size,
#boxmodel-container.inactive > #boxmodel-main > p,
.boxmodel-container.inactive > .boxmodel-header > #boxmodel-element-position,
.boxmodel-container.inactive > .boxmodel-header > .boxmodel-element-size,
.boxmodel-container.inactive > .boxmodel-main > p {
   visibility: hidden;
}

/* Layout info: contains the position and size of the element */
/* This section should be in the header section --johnGraciliano */

#element-size, /* Firefox <= 45 */
#boxmodel-element-size,
.boxmodel-element-size {
  flex: 1;
}

#boxmodel-position-group {
  display: flex;
  align-items: center;
}


/* Additional rules for Firefox 54.0a1 and later */

#boxmodel-header,
.boxmodel-properties-header,
._header[class][class][class]{
  padding-top: 2px;
  padding-bottom: 2px;
  font: message-box; /* This resets the font family in case .devtools-monospace is an ancestor */
  font-size: 1.1rem; /* This sets the font size as a factor from the font use in the ".theme-*" root */
                     /* This avoid a problem when .devtools-monospace is ancestor and platform="linux" (:root IS NOT .devtools-monospace) */
  height: unset;
  width: unset;
  background-image: none;
  background-color: transparent;
  border-bottom-width: 0;
  display: block;
}
#boxmodel-header {
  display: flex;
  -moz-user-select: none;
}
.theme-firebug #boxmodel-header,
.theme-firebug .boxmodel-properties-header,
.theme-firebug ._header[class][class] {
  font-family: var(--proportional-font-family);
  font-weight: bold;
}

#boxmodel-header:hover,
.boxmodel-properties-header:hover,
._header[class][class][class]:hover{
  background-color: #eaeaea; /* = var(--toolbar-tab-hover) + var(--theme-toolbar-background) */
}
.theme-dark #boxmodel-header:hover,
.theme-dark .boxmodel-properties-header:hover,
.theme-dark ._header[class][class]:hover{
  background-color: #1e242a; /* = var(--toolbar-tab-hover-active) + var(--theme-toolbar-background) */
}
.theme-firebug #boxmodel-header:hover,
.theme-firebug .boxmodel-properties-header:hover,
.theme-firebug ._header[class][class]:hover{
  background-color: #e2e7ec; /* = var(--toolbar-tab-hover) + .8*(.6*white + .4*var(--theme-toolbar-background)) */
}


._header[class][class][class] > .arrow.theme-twisty {
  margin-bottom: 2px;
}

._content[class][class] {
  margin-top: 5px;
  border-bottom-width: 0;
  font-size: inherit;
}






div.boxmodel-container {
  XXX-max-width: unset;
  XXX-padding-left: 15px;
  XXX-padding-right: 15px;
}
.boxmodel-main {
  XXX-max-width: 320px;
  XXX-margin-left: auto;
  XXX-margin-right: auto;
}
.boxmodel-info {
  XXX-max-width: 400px;
  XXX-margin-left: auto;
  XXX-margin-right: auto;
}
.boxmodel-properties {
  /* Undo the container's padding: */
  XXX-margin-left: -15px;
  XXX-margin-right: -15px;
}
.boxmodel-properties-header {
  padding: 2px 5px;
  padding-inline-start: 10px;
  -moz-user-select: none;
  cursor: pointer;
}
.boxmodel-properties-expander {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}
.boxmodel-properties-wrapper > .computed-property-view , /* TEST FOR FIREFOX 57 */
.boxmodel-properties-wrapper > .property-view {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 25px;
}



.boxmodel-properties-wrapper > .computed-property-view  > .computed-property-name-container,
.boxmodel-properties-wrapper > .property-view  > .property-name-container {
  width: 194px;
  width: 16ch;
}




.boxmodel-rotate.boxmodel-editing {
  height: auto;
  min-height: -moz-fit-content;
}


.boxmodel-properties-wrapper > .computed-property-view  > .computed-property-value-container,
.boxmodel-properties-wrapper > .property-view  > .property-value-container {
  overflow: visible;
  flex-wrap: wrap;
}

.boxmodel-container .reference-element {
  /****
  margin-inline-start: 14px;
  margin-block-start: 4px;
  display: block;
   ****/
  display: block;
  margin-inline-start: 10px;
  white-space: nowrap;
}

/* Tag displayed next to DOM Node previews (used to display reference elements) */

.boxmodel-container .reference-element-type {
  /****
  background: var(--theme-highlight-purple);
  color: white;
  padding: 1px 2px;
  border-radius: 2px;
  font-size: 9px;
  margin-inline-end: 5px;
  ***/
  color: var(--theme-content-color2);
  margin-inline-end: .5em;
}

/***
.theme-dark .boxmodel-container .reference-element-type {
  color: black;
}
 ***/
/* Match the style editor and rules inspector in the firebug theme: */
.theme-firebug .boxmodel-properties-wrapper > .computed-property-view > .computed-property-value-container > .reference-element > .objectBox-node,
.theme-firebug .boxmodel-properties-wrapper > .property-view > .property-value-container > .reference-element > .objectBox-node {
  font-family: var(--monospace-font-family);
}
:root[platform="linux"].theme-firebug
                    .boxmodel-properties-wrapper > .computed-property-view > .computed-property-value-container > .reference-element > .objectBox-node,
:root[platform="linux"].theme-firebug .boxmodel-properties-wrapper > .property-view > .property-value-container > .reference-element > .objectBox-node {
  font-size: .8rem;
}
.theme-firebug .boxmodel-properties-wrapper > .computed-property-view > .computed-property-value-container > .reference-element > .objectBox-node > .tag-name,
.theme-firebug .boxmodel-properties-wrapper > .computed-property-view > .computed-property-value-container > .reference-element > .objectBox-node > .attr-name,
.theme-firebug .boxmodel-properties-wrapper > .property-view > .property-value-container > .reference-element > .objectBox-node > .tag-name,
.theme-firebug .boxmodel-properties-wrapper > .property-view > .property-value-container > .reference-element > .objectBox-node > .attr-name {
  color: black;
  font-weight: bold;
}

/* Box Model Main - Offset Parent */

.boxmodel-offset-parent {
  position: absolute;
  top: -20px;
  right: -10px;
  color: var(--theme-highlight-purple);
}