/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* From content */

:root {
  box-sizing: border-box;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#sidebar-panel-computedview {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Bug 1243598 - Reduce the container height by the tab height to make room
     for the tabs above. */
  height: calc(100% - 24px);
  position: absolute;
}
.theme-firebug tabpanel#sidebar-panel-computedview {  /* Firefox 48-49 */
  height: calc(100% - 28px);
}

div#sidebar-panel-computedview {  /* Firefox >= 50 */
  height: 100%;
  position: initial;
}

#sidebar-panel-computedview > .devtools-toolbar {
  display: flex;
  height: 23px;
  min-height: 23px;
  box-sizing: content-box;
}

.theme-firebug #sidebar-panel-computedview > .devtools-toolbar {
  height: 23px !important; /* To override 28px setting in firebug-theme.css --johnGraciliano */
}

#computed-container,
#computedview-container { /* Firefox >= 50 */
  overflow: auto;
  height: calc(100% - 24px);
}
.theme-firebug #computed-container,
.theme-firebug #computedview-container {
  height: calc(100% - 30px);
}

/* This extra wrapper only serves as a way to get the content of the view focusable.
   So that when the user reaches it either via keyboard or mouse, we know that the view
   is focused and therefore can handle shortcuts.
   However, for accessibility reasons, tabindex is set to -1 to avoid having to tab
   through it, and the outline is hidden. */
#computed-container-focusable,
#computedview-container-focusable {
  height: 100%;
  outline: none;
}

#computed-container-focusable > #boxmodel-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--theme-splitter-color);
}

#browser-style-checkbox {
  /* Bug 1200073 - extra space before the browser styles checkbox so
     they aren't squished together in a small window. */
  -moz-margin-start: 5px;
  -moz-margin-end: 4px;
  margin-inline-start: 5px;
  margin-inline-end: 4px;
  align-self: center; /* For Firefox 52, where input node precedes the label node */
}

#browser-style-checkbox > * > .checkbox-label { /* Firefox <= 49 */
  margin: 0 !important; /* Needs to override !important elsewhere. --johnGraciliano */
}

#browser-style-checkbox-label { /* Firefox >= 50 */
  margin-inline-end: 4px; /*It was 5px --johnGraciliano */

  /* Vertically center the 'Browser styles' checkbox in the
     Computed panel with its label. */
  display: flex;
  align-items: center;
}

/* Make the space between the box and the text usable for pointer events (in Firefox 52) --johnGraciliano */
#computed-toolbar > input#browser-style-checkbox,
#computedview-toolbar > input#browser-style-checkbox {
  margin-inline-end: 0;
}
#browser-style-checkbox + #browser-style-checkbox-label {
  padding-inline-start: 4px;
}

#computed-property-container,
#propertyContainer {
  -moz-user-select: text;
  overflow-y: auto;
  overflow-x: hidden;
  flex: auto;
}
body > #propertyContainer { /* Firefox < 47 */
  min-height: 0;
  flex: 1;
}

.row-striped {
  background: var(--theme-body-background);
}

.computed-property-hidden,
.property-view-hidden,
.property-content-hidden {
  display: none;
}

.computed-property-view,
.property-view {
  padding: 2px 0;
  -moz-padding-start: 17px;
  padding-inline-start: 17px;
}
body > #propertyContainer > .property-view { /* Firefox <= 46 */
  clear: both;
}
.computed-property-view,
:not(body) > #propertyContainer > .property-view { /* Firefox >= 47 */
  display: flex;
  flex-wrap: wrap;
}

.computed-property-name-container,
.property-name-container {
  box-sizing: border-box;
  width: 202px;
}

.computed-property-value-container,
.property-value-container {
  display: flex;
  flex: 1 1 168px;
  overflow: hidden;
}

.computed-property-name-container > *,
.computed-property-value-container > *,
.property-name-container > *,
.property-value-container > * {
  display: inline-block;
  vertical-align: middle;
}

/* body > #computed-property-container > .computed-property-view > *, ******************************/
body > #propertyContainer > .property-view > * {
  display: inline-block;
  vertical-align: middle;
}

:not(.computed-property-name-container) > .computed-property-name,
:not(.property-name-container) > .property-name {
  box-sizing: border-box;
  /* -12px is so the expander triangle isn't pushed up above the property */
  width: calc(100% - 12px);
}
.computed-property-name,
.property-name {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: 0;
}

.computed-property-value, .computed-other-property-value,
.property-value, .other-property-value {
  background-image: url(images/arrow-e.png);
  background-repeat: no-repeat;
  background-size: 5px 8px;
}

@media (min-resolution: 1.1dppx) {
  .computed-property-value, .computed-other-property-value,
  .property-value, .other-property-value {
    background-image: url(images/arrow-e@2x.png);
  }
}

:not(.computed-property-value-container) > .computed-property-value,
:not(.property-value-container) > .property-value {
  box-sizing: border-box;
  width: 100%;
}
.computed-property-value,
.property-value {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-position: 2px center;
  padding-left: 10px;
  outline: 0;
  position: relative; /* This is to make .computedview-colorswatch::before visible through semi-transparent colors. --johnGraciliano */
  z-index: 0; /* This is to make .computedview-colorswatch::before visible through semi-transparent colors. --johnGraciliano */
}
:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > .computed-property-value,
:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > .property-value {
  direction: ltr;
  text-align: right;
  padding-left: 0;
  padding-right: 0;
  background-image: none;  /* url(images/arrow-w@2x.png) */
}
:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > .computed-property-value::after,
:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > .property-value::after {
  content: "";
  display: inline-block;
  background-image: url(images/arrow-e.png);  /* url(images/arrow-w@2x.png) */
  background-size: 5px 8px;
  background-repeat: no-repeat;
  background-position: center;
  width: 5px;
  height: 8px;
  transform: scaleX(-1);
  margin-left: 4px;
  margin-right: 2px;
}
@media (min-resolution: 1.1dppx) {
  :-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > .computed-property-value::after,
  :-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > .property-value::after {
    background-image: url(images/arrow-e@2x.png);
  }
}

.computed-other-property-value,
.other-property-value {
  background-position: left center;
  -moz-padding-start: 8px; /** padding-left: 8px;  --johnGraciliano **/
  -moz-margin-start: 4px;
  padding-inline-start: 8px;
  margin-inline-start: 4px;
  position: relative; /* This is to make .computedview-colorswatch::before visible through semi-transparent colors. --johnGraciliano */
  z-index: 0; /* This is to make .computedview-colorswatch::before visible through semi-transparent colors. --johnGraciliano */
/**
  background-color: pink;
  width: 140px;
 **/
}

:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > * > .computed-other-property-value,
:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > * > .other-property-value {
  background-image: none;
  -moz-padding-start: 0;
  padding-inline-start: 0;
}
:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > * > .computed-other-property-value::before,
:-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > * > .other-property-value::before {
  content: "";
  display: inline-block;
  background-image: url(images/arrow-e.png);  /* url(images/arrow-w@2x.png) */
  background-size: 5px 8px;
  background-repeat: no-repeat;
  background-position: center;
  width: 5px;
  height: 8px;
  margin-right: 4px;
}
@media (min-resolution: 1.1dppx) {
  :-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > * > .computed-other-property-value::before,
  :-moz-any(:-moz-dir(rtl),:-moz-locale-dir(rtl)) > * > .other-property-value::before {
    background-image: url(images/arrow-e@2x.png);
  }
}

@media (min-width: 400px) {
  :not(.computed-property-name-container) > .computed-property-name,
  :not(.property-name-container) > .property-name {
    width: 200px;
  }
  :not(.computed-property-value-container) > .computed-property-value,
  :not(.property-value-container) > .property-value {
    width: calc(100% - 202px); /* 202px = 200 (property-name) + 2px (= 14px [expander width] - 12px [expander negative magin]) */
  }
}

.computed-property-content,
.property-content {
  -moz-padding-start: 17px;  /* padding-left: 17px;  --johnGraciliano */
  padding-inline-start: 17px;
}

.theme-firebug .computed-property-view,
.theme-firebug .computed-property-content,
.theme-firebug .property-view,
.theme-firebug .property-content {
  font-family: var(--proportional-font-family);
}

.theme-firebug .computed-property-view ~ .computed-property-view,
.theme-firebug .property-view ~ .property-view { /* Lines before the next property --johnGraciliano */
  border-top:  1px solid rgba(0, 0, 0, 0.0625);
}

.theme-firebug .computed-property-value,
.theme-firebug .computed-other-property-value,
.theme-firebug .property-value,
.theme-firebug .other-property-value {
  color: #000;
}
.theme-firebug .computed-property-name,
.theme-firebug .property-name {
  font-weight: bold;
  color: #000;
}
.theme-firebug span.rule-text {
  font-weight: normal;
  color: #000;
}

/* Bug 1360238 - getSelection displays an extra "\n" on multiple sibling block elements.
   We rely on this behavior to add an extra "\n" between matched selectors (Bug 1222737).
   Therefore we use <div> elements around matched selectors and need this class
   to keep them inline. We do that to avoid doing any formatting logic in JS.
   Once Bug 1360238 will be fixed, we'll probably have to change the behavior
   and remove this class. */
.fix-get-selection {
  display: inline;
}

.visually-hidden {
  opacity: 0;
}

/* From skin */
.computed-expander,
.expander {
  visibility: hidden;
  -moz-margin-start: -12px !important;
  margin-inline-start: -12px !important;
}
:root:not(.theme-firebug) .expander:not([open]):-moz-dir(rtl),
:root:not(.theme-firebug) .expander:not([open]):-moz-locale-dir(rtl) {
  transform: scaleX(-1);
}
:root:not(.theme-firebug) .computed-expander:not([open]):dir(rtl),
:root:not(.theme-firebug) .expander:not([open]):dir(rtl) {
  transform: scaleX(-1);
}

.computed-expandable,
.expandable {
  visibility: visible;
}

.match {
  visibility: hidden;
}

.matchedselectors > p {
  clear: both;
  margin: 0;
  -moz-margin-end: 2px;
  margin-inline-end: 2px;
  padding: 2px;
  overflow-x: hidden;
  border-style: dotted;
  border-color: rgba(128,128,128,0.4);
  border-width: 1px 1px 0 1px;
}

.theme-firebug .matchedselectors > p {
  border-color: rgba(0,0,0,0.0625);
}

.matchedselectors > p:last-of-type {
  border-bottom-width: 1px;
}

.matched {
  text-decoration: line-through;
}

.parentmatch {
  opacity: 0.5;
}

#noResults { /* Used in Firefox <= 49 */
  font-size: 110%;
  margin: 5px;
  text-align: center;
}

/* The next rule either needs height: 'calc(100% - 10px)' due to 5px top and bottom padding
 * (the padding is declared in inspector.css and it used to be marked as margin) or insert
 * 'box-sizing: border-box'.  Otherwise it makes a superfluous margin to be created.
 * However, I am removing the rule because I find no purpose for it.       --johnGraciliano *|
#computedview-no-results { /* Firefox >= 50 *|
  height: 100%;
}
 */

.onlyuserstyles {
  cursor: pointer;
}

.legendKey {
  margin: 0 5px;
}

#root .devtools-toolbar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}


#propertyContainer ~ #root > .devtools-toolbar{ /* Firefox 39 and earlier --johnGraciliano */
  display: -moz-box;
  border-bottom-width: 0px;
  border-top-width: 1px;
}

.computed-link,
.link {
  padding: 0 3px;
  cursor: pointer;
  float: right;
}
.link:-moz-dir(rtl),
.link:-moz-locale-dir(rtl) {
  float: left;
}
.computed-link:dir(rtl),
.link:dir(rtl) {
  float: left;
}

/* Take away these two :visited rules to get a core dumper     */
/* See https://bugzilla.mozilla.org/show_bug.cgi?id=575675#c30 */

.computed-link,
.computed-link:visited,
.link,
.link:visited {
  color: #0091ff;
}

.computed-link,
.computed-link:visited,
.link,
.helplink,
.link:visited,
.helplink:visited {
  text-decoration: none;
}

.computed-link:hover,
.link:hover {
  text-decoration: underline;
}

.theme-firebug .rule-link > .computed-link,
.theme-firebug .rule-link > .link {
  font-family: Lucida Grande, sans-serif;
  font-weight: bold;
  color: #0000FF;
}

/* This is not ready:  *********************************%
.rule-text {
  dir: inherit; %* Undo [dir=ltr] --johnGraciliano *%
}
%*******************************************************/

.computed-colorswatch,
.computedview-colorswatch {
  box-sizing: border-box;
  border-radius: 50%;
  width: 0.9em;
  height: 0.9em;
  vertical-align: middle;
  -moz-margin-end: 5px;
  margin-inline-end: 5px;
  display: inline-block;
  position: relative;
}

.computed-colorswatch::before,
.computedview-colorswatch::before {
  content: '';
  background-color: transparent;
  background-image: linear-gradient(to right, #fff 50%, #000 50%),
                    linear-gradient(to right, #000 50%, #fff 50%);
  background-size: 100% 50%;
  background-position: center top, center bottom;
  background-repeat: repeat-x, repeat-x;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
